body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

h1, form, #functions, #allresults {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

form {
	margin-top: 50px;
}

#functions {
	margin-top: 100px;
}

#allresults {
	margin-top: 200px;
}

dl {
	position: relative;
	float: right;
	margin: {
		left: 550px;
		right: 15px;
		top: 55px;
		bottom: 0px;
	}
	padding: 0px;
}

dt {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	background: #ccc;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #eee;
	padding: {
		top: 5px;
		bottom: 5px;
		left: 15px;
		right: 10px;
	}
	margin: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}
dd {
	position: relative;
	padding: {
		bottom: 0px;
	}
	margin-left: 15px;
}

.hide { 
	height: 0;
	overflow: hidden;
}

button {
	background: #def;
}

button.show {
	background: #9af;
}

.item, .header {
	background: #cdf;
	width: 520px;
}

.time, .date, .age {
	display: inline;
	margin-right: 0px;
	padding: {
		left: 4px;
		right: 4px;
		top: 1px;
		bottom: 1px;
	}
	float: left;
	height: 18px;
}

.time {
	clear: left;
	margin-left: 0px;
	width: 160px;
}

.date {
	width: 154px;
}

.age {
	width: 170px;

}

.header .time,
.header .date,
.header .age {
	background: #fff;
}

$bg_light: 75%;
$bg_sat: 80%;

$i : 1;

.item.age#{$i} {
	.time, .date, .age {
		background: hsl(0, $bg_sat, $bg_light);
	}
}

@for $i from 1 through 12 {
	.item.age#{10 * $i} {
		.time, .date, .age {
			background: hsl($i*20, $bg_sat, $bg_light);
		}
	}
}